# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Config
src/config/config.development.js
src/config/config.test.js
